Sesion02/src/conf/xml-resources/web-service-references/WS02/wsdl/localhost_8383/Sesion02/WS02.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://company.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://company.pe/">

<xs:element name="baraja" type="tns:baraja"/>

<xs:element name="barajaResponse" type="tns:barajaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="baraja">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="barajaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="fecha_contrato" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_empleado" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="profesion" type="xs:string" minOccurs="0"/>
<xs:element name="sueldo" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>